In [18]:
#read the csv file.

import pandas as pd
df= pd.read_csv('sales_dataset.csv')
print(df)

                Product Name     Category  Sale Price  Quantity Sold  \
0                   T-shirts     Clothing       10.99             20
1               Levi's Jeans     Clothing       59.99             18
2               Dyson Vacuum         Home      599.99              2
3                 Sunglasses  Accessories       21.22             15
4                 Headphones  Electronics        8.99             40
5              Water bottles  Accessories       14.14             22
6                  Backpacks  Accessories       18.99             27
7                       Hats  Accessories       29.99             35
8                      Books        Media       11.99             18
9                       Toys         Toys       17.99             29
10                    Apples         Food       10.99             32
11                Lawn mower      Outdoor      123.99             24
12            Samsung Galaxy  Electronics      899.99              5
13                 iPhone 13  Electronics     1299.99              3
14        Lululemon Yoga Mat      Fitness       89.99             15
15            Picture frames   Home decor       41.99              2
16                   Candles   Home decor        3.49             19
17               Apple Watch  Electronics      399.99              4
18         Oakley Sunglasses  Accessories      149.99             12
19           Fitbit Charge 5      Fitness      149.99              9
20              Harry Potter        Media       15.99             25
21               Phone cases  Electronics       12.04             25
22           Nest Thermostat         Home      249.99              6
23        Sony PlayStation 5  Electronics      499.99              4
24      Michael Kors Handbag  Accessories      349.99              8
25             Ninja Blender      Kitchen      129.99             10
26      Under Armour T-Shirt     Clothing       29.99             30
27           Amazon Echo Dot  Electronics       39.99             20
28          Patagonia Fleece     Clothing      119.99              6
29     Schwinn Exercise Bike      Fitness      499.99              3
30  Cuisinart Food Processor      Kitchen      199.99              4
31      iRobot Roomba Vacuum         Home      399.99              2
32            Sonos Soundbar  Electronics      799.99              1

        Month    Customer Name
0    December       John Smith
1       April   Samantha Davis
2      August   David Williams
3         May   Kelly Williams
4     October      Chris Brown
5      August          Amy Lee
6        July    William Smith
7   September      Emily Davis
8       March   Robert Johnson
9    December   Kimberly White
10       June  Michael Johnson
11   November   Samantha Davis
12  February          Jane Doe
13   December     Mark Johnson
14      April   Kelly Williams
15     August   Sarah Anderson
16   November        Kevin Lee
17  February    Robert Johnson
18       July   Kimberly White
19  September  Michael Johnson
20  February        John Smith
21        May     Mark Johnson
22       June  Elizabeth Brown
23   November       John Smith
24       July         Jane Doe
25      March      Chris Brown
26   December          Amy Lee
27      March      Emily Davis
28        May   Robert Johnson
29  September  Michael Johnson
30   December   Samantha Davis
31      April   David Williams
32     August  Elizabeth Brown

In [32]:
#calculate total sales for each product

def calculate_total_sales(row):
    return row['Sale Price'] * row['Quantity Sold']

total_sales = df.groupby('Product Name').apply(calculate_total_sales).groupby(level=0).sum()

print(total_sales)

Product Name
Amazon Echo Dot              799.80
Apple Watch                 1599.96
Apples                       351.68
Backpacks                    512.73
Books                        215.82
Candles                       66.31
Cuisinart Food Processor     799.96
Dyson Vacuum                1199.98
Fitbit Charge 5             1349.91
Harry Potter                 399.75
Hats                        1049.65
Headphones                   359.60
Lawn mower                  2975.76
Levi's Jeans                1079.82
Lululemon Yoga Mat          1349.85
Michael Kors Handbag        2799.92
Nest Thermostat             1499.94
Ninja Blender               1299.90
Oakley Sunglasses           1799.88
Patagonia Fleece             719.94
Phone cases                  301.00
Picture frames                83.98
Samsung Galaxy              4499.95
Schwinn Exercise Bike       1499.97
Sonos Soundbar               799.99
Sony PlayStation 5          1999.96
Sunglasses                   318.30
T-shirts                     219.80
Toys                         521.71
Under Armour T-Shirt         899.70
Water bottles                311.08
iPhone 13                   3899.97
iRobot Roomba Vacuum         799.98
dtype: float64